In [13]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
import re
import requests
from selenium.webdriver.common.by import By
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from bs4 import BeautifulSoup

In [14]:
# Question 1:Write a python program which searches all the product under a particular product from www.amazon.in.

In [15]:
driver=webdriver.Chrome(r"Chromedriver.exe")

In [16]:
driver.get("https://www.amazon.in/")

In [5]:
Search=driver.find_element(By.CLASS_NAME,"nav-search-submit-text")
Search.click()

In [31]:
Product_Name=[]
Price=[]
Expected_Delivery=[]
Product_url=[]

In [32]:
start=0
end=3
for i in range(start,end):
    name=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
    for i in name[0:10]:
        Product_Name.append(i.text)
   
    Price_tag=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
    for i in Price_tag[0:10]:
        Price.append(i.text)
    Delivery=driver.find_elements(By.XPATH,'//span[@class="a-color-base a-text-bold"]')
    for i in Delivery[0:10]:
        Expected_Delivery.append(i.text)
    Url=driver.find_elements(By.XPATH,'//a[@class="a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal"]')
    for i in Url[0:10]:
        Product_url.append(i.get_attribute('href'))
    next_button=driver.find_elements(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[1]/div/span[1]/div[1]/div[32]/div/div/span/a[3]")

In [33]:
len(Product_Name),len(Price),len(Expected_Delivery),len(Product_url)

(30, 30, 30, 30)

In [34]:
import pandas as pd
df=pd.DataFrame({'BRAND':Product_Name,'PRICE':Price,'Exp_del':Expected_Delivery,'URL':Product_url})
df

,BRAND,PRICE,Exp_del,URL
0,TOSHIBA 139 cm (55 inches) Bezelless Series 4K...,"38,999","Fri, 10 Mar, 7:00 am - 9:00 pm",https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
1,Redmi 80 cm (32 inches) Android 11 Series HD R...,"12,999","Fri, 10 Mar, 7:00 am - 9:00 pm",https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
2,VW 80 cm (32 inches) Frameless Series HD Ready...,"6,999","Fri, 10 Mar, 7:00 am - 9:00 pm",https://www.amazon.in/Visio-World-inches-VW32A...
3,Redmi 80 cm (32 inches) Android 11 Series HD R...,"12,999","Fri, 10 Mar, 7:00 am - 9:00 pm",https://www.amazon.in/Redmi-inches-Ready-L32M6...
4,OnePlus 80 cm (32 inches) Y Series HD Ready LE...,"11,999","Fri, 10 Mar, 7:00 am - 9:00 pm",https://www.amazon.in/OnePlus-inches-Ready-And...
5,MI 80 cm (32 inches) 5A Series HD Ready Smart ...,"38,999","Fri, 10 Mar, 7:00 am - 9:00 pm",https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
6,OnePlus 108 cm (43 inches) Y Series Full HD Sm...,"27,999","Fri, 10 Mar, 7:00 am - 9:00 pm",https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
7,Kodak 80 cm (32 Inches) HD Ready LED TV Kodak ...,,"Fri, 10 Mar, 7:00 am - 9:00 pm",https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
8,iFFALCON 80 cm (32 inches) HD Ready Smart LED ...,"12,999","Fri, 10 Mar, 7:00 am - 9:00 pm",https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
9,Acer 80 cm (32 inches) N Series HD Ready TV AR...,"23,999","Fri, 10 Mar, 7:00 am - 9:00 pm",https://www.amazon.in/MI-inches-Ready-Android-...
10,TOSHIBA 139 cm (55 inches) Bezelless Series 4K...,"38,999","Fri, 10 Mar, 7:00 am - 9:00 pm",https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
11,Redmi 80 cm (32 inches) Android 11 Series HD R...,"12,999","Fri, 10 Mar, 7:00 am - 9:00 pm",https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
12,VW 80 cm (32 inches) Frameless Series HD Ready...,"6,999","Fri, 10 Mar, 7:00 am - 9:00 pm",https://www.amazon.in/Visio-World-inches-VW32A...
13,Redmi 80 cm (32 inches) Android 11 Series HD R...,"12,999","Fri, 10 Mar, 7:00 am - 9:00 pm",https://www.amazon.in/Redmi-inches-Ready-L32M6...
14,OnePlus 80 cm (32 inches) Y Series HD Ready LE...,"11,999","Fri, 10 Mar, 7:00 am - 9:00 pm",https://www.amazon.in/OnePlus-inches-Ready-And...
15,MI 80 cm (32 inches) 5A Series HD Ready Smart ...,"38,999","Fri, 10 Mar, 7:00 am - 9:00 pm",https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
16,OnePlus 108 cm (43 inches) Y Series Full HD Sm...,"27,999","Fri, 10 Mar, 7:00 am - 9:00 pm",https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
17,Kodak 80 cm (32 Inches) HD Ready LED TV Kodak ...,,"Fri, 10 Mar, 7:00 am - 9:00 pm",https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
18,iFFALCON 80 cm (32 inches) HD Ready Smart LED ...,"12,999","Fri, 10 Mar, 7:00 am - 9:00 pm",https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
19,Acer 80 cm (32 inches) N Series HD Ready TV AR...,"23,999","Fri, 10 Mar, 7:00 am - 9:00 pm",https://www.amazon.in/MI-inches-Ready-Android-...
20,TOSHIBA 139 cm (55 inches) Bezelless Series 4K...,"38,999","Fri, 10 Mar, 7:00 am - 9:00 pm",https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
21,Redmi 80 cm (32 inches) Android 11 Series HD R...,"12,999","Fri, 10 Mar, 7:00 am - 9:00 pm",https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
22,VW 80 cm (32 inches) Frameless Series HD Ready...,"6,999","Fri, 10 Mar, 7:00 am - 9:00 pm",https://www.amazon.in/Visio-World-inches-VW32A...
23,Redmi 80 cm (32 inches) Android 11 Series HD R...,"12,999","Fri, 10 Mar, 7:00 am - 9:00 pm",https://www.amazon.in/Redmi-inches-Ready-L32M6...
24,OnePlus 80 cm (32 inches) Y Series HD Ready LE...,"11,999","Fri, 10 Mar, 7:00 am - 9:00 pm",https://www.amazon.in/OnePlus-inches-Ready-And...
25,MI 80 cm (32 inches) 5A Series HD Ready Smart ...,"38,999","Fri, 10 Mar, 7:00 am - 9:00 pm",https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
26,OnePlus 108 cm (43 inches) Y Series Full HD Sm...,"27,999","Fri, 10 Mar, 7:00 am - 9:00 pm",https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
27,Kodak 80 cm (32 Inches) HD Ready LED TV Kodak ...,,"Fri, 10 Mar, 7:00 am - 9:00 pm",https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
28,iFFALCON 80 cm (32 inches) HD Ready Smart LED ...,"12,999","Fri, 10 Mar, 7:00 am - 9:00 pm",https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
29,Acer 80 cm (32 inches) N Series HD Ready TV AR...,"23,999","Fri, 10 Mar, 7:00 am - 9:00 pm",https://www.amazon.in/MI-inches-Ready-Android-...

In [9]:
#Question 3:Write a python program to access the search bar and search button on images.google.com and scrape 10images each for keywords ‘fruits’, ‘cars’ and ‘Machine Learning’, ‘Guitar’, ‘Cakes’.

In [41]:
driver=webdriver.Chrome(r"Chromedriver.exe")

In [42]:
driver.get("https://images.google.com/ ")

In [43]:
image=driver.find_element(By.CLASS_NAME,"gLFyf")
image.send_keys('fruits')

In [44]:
search=driver.find_element(By.CLASS_NAME,"zgAlFc")
search.click()

In [45]:
# Question 4:Write a python program to search for a smartphone

In [35]:
driver=webdriver.Chrome(r"ChromeDriver.exe")

In [36]:
driver.get("https://www.flipkart.com/")

In [37]:
phones=driver.find_element(By.CLASS_NAME,"_3704LK")
phones.send_keys('smartphones')

In [38]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [39]:
Brand_Names=[]
Specification=[]
Price=[]
Product_url=[]

In [40]:
Brand_tags=driver.find_elements(By.XPATH,'//div[@class="_4rR01T"]')
for i in Brand_tags:
    Brand=i.text
    Brand_Names.append(Brand)
    
Spec_tags=driver.find_elements(By.XPATH,'//div[@class="fMghEO"]')
for i in Spec_tags:
    Spec=i.text
    Specification.append(Spec)
    
Price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3 _1_WHN1"]')
for i in Price_tags:
    Pri=i.text
    Price.append(Pri)
    
Url=driver.find_elements(By.XPATH,'//a[@class="_1fQZEK"]')
for i in Url:
    Product_url.append(i.get_attribute('href'))

In [41]:
len(Brand_Names),len(Specification),len(Price),len(Product_url)

(24, 24, 24, 24)

In [42]:
import pandas as pd
df=pd.DataFrame({'BRAND':Brand_Names,'SPECIFICATION':Specification,'PRICE':Price,'URL':Product_url})
df

,BRAND,SPECIFICATION,PRICE,URL
0,"REDMI 10 (Pacific Blue, 64 GB)",4 GB RAM | 64 GB ROM | Expandable Upto 1 TB\n1...,"₹9,299",https://www.flipkart.com/redmi-10-pacific-blue...
1,"REDMI 10 (Caribbean Green, 64 GB)",4 GB RAM | 64 GB ROM | Expandable Upto 1 TB\n1...,"₹9,299",https://www.flipkart.com/redmi-10-caribbean-gr...
2,"Infinix HOT 20 Play (Racing Black, 64 GB)",4 GB RAM | 64 GB ROM | Expandable Upto 256 GB\...,"₹8,199",https://www.flipkart.com/infinix-hot-20-play-r...
3,"Infinix HOT 20 Play (Fantasy Purple, 64 GB)",4 GB RAM | 64 GB ROM | Expandable Upto 256 GB\...,"₹8,199",https://www.flipkart.com/infinix-hot-20-play-f...
4,"Infinix HOT 20 Play (Luna Blue, 64 GB)",4 GB RAM | 64 GB ROM | Expandable Upto 256 GB\...,"₹8,199",https://www.flipkart.com/infinix-hot-20-play-l...
5,"REDMI 10 (Midnight Black, 64 GB)",4 GB RAM | 64 GB ROM | Expandable Upto 1 TB\n1...,"₹9,299",https://www.flipkart.com/redmi-10-midnight-bla...
6,"Infinix HOT 20 Play (Aurora Green, 64 GB)",4 GB RAM | 64 GB ROM | Expandable Upto 256 GB\...,"₹8,199",https://www.flipkart.com/infinix-hot-20-play-a...
7,"SAMSUNG Galaxy F23 5G (Aqua Blue, 128 GB)",6 GB RAM | 128 GB ROM | Expandable Upto 1 TB\n...,"₹14,999",https://www.flipkart.com/samsung-galaxy-f23-5g...
8,"POCO C50 (Country Green, 32 GB)",2 GB RAM | 32 GB ROM | Expandable Upto 512 GB\...,"₹5,749",https://www.flipkart.com/poco-c50-country-gree...
9,"POCO C50 (Royal Blue, 32 GB)",2 GB RAM | 32 GB ROM | Expandable Upto 512 GB\...,"₹5,749",https://www.flipkart.com/poco-c50-royal-blue-3...
10,"SAMSUNG Galaxy F23 5G (Copper Blush, 128 GB)",6 GB RAM | 128 GB ROM | Expandable Upto 1 TB\n...,"₹14,999",https://www.flipkart.com/samsung-galaxy-f23-5g...
11,"REDMI 10 (Sunrise Orange, 64 GB)",4 GB RAM | 64 GB ROM | Expandable Upto 1 TB\n1...,"₹9,299",https://www.flipkart.com/redmi-10-sunrise-oran...
12,"MOTOROLA g31 (Baby Blue, 128 GB)",6 GB RAM | 128 GB ROM | Expandable Upto 1 TB\n...,"₹10,999",https://www.flipkart.com/motorola-g31-baby-blu...
13,"MOTOROLA g52 (Charcoal Grey, 64 GB)",4 GB RAM | 64 GB ROM\n16.76 cm (6.6 inch) Full...,"₹10,999",https://www.flipkart.com/motorola-g52-charcoal...
14,"MOTOROLA g52 (Metallic White, 128 GB)",6 GB RAM | 128 GB ROM\n16.76 cm (6.6 inch) Ful...,"₹12,999",https://www.flipkart.com/motorola-g52-metallic...
15,"REDMI 10 (Shadow Black, 64 GB)",4 GB RAM | 64 GB ROM | Expandable Upto 1 TB\n1...,"₹9,299",https://www.flipkart.com/redmi-10-shadow-black...
16,"MOTOROLA g52 (Charcoal Grey, 128 GB)",6 GB RAM | 128 GB ROM\n16.76 cm (6.6 inch) Ful...,"₹12,999",https://www.flipkart.com/motorola-g52-charcoal...
17,"Infinix Hot 12 (7° Purple, 64 GB)",4 GB RAM | 64 GB ROM\n17.32 cm (6.82 inch) HD+...,"₹8,499",https://www.flipkart.com/infinix-hot-12-7-purp...
18,"Infinix Hot 12 (Exploratory Blue, 64 GB)",4 GB RAM | 64 GB ROM\n17.32 cm (6.82 inch) HD+...,"₹8,499",https://www.flipkart.com/infinix-hot-12-explor...
19,"MOTOROLA e40 (Carbon Gray, 64 GB)",4 GB RAM | 64 GB ROM | Expandable Upto 1 TB\n1...,"₹8,499",https://www.flipkart.com/motorola-e40-carbon-g...
20,"MOTOROLA g31 (Meteorite Grey, 64 GB)",4 GB RAM | 64 GB ROM | Expandable Upto 1 TB\n1...,"₹9,499",https://www.flipkart.com/motorola-g31-meteorit...
21,"MOTOROLA G32 (Mineral Gray, 64 GB)",4 GB RAM | 64 GB ROM\n16.64 cm (6.55 inch) Ful...,"₹10,499",https://www.flipkart.com/motorola-g32-mineral-...
22,"SAMSUNG Galaxy F23 5G (Forest Green, 128 GB)",6 GB RAM | 128 GB ROM | Expandable Upto 1 TB\n...,"₹14,999",https://www.flipkart.com/samsung-galaxy-f23-5g...
23,"Infinix Hot 12 (Turquoise Cyan, 64 GB)",4 GB RAM | 64 GB ROM\n17.32 cm (6.82 inch) HD+...,"₹8,499",https://www.flipkart.com/infinix-hot-12-turquo...

In [1]:
# Question 6: Write a program to scrap all the available details of best gaming laptops from digit.in

In [6]:
driver=webdriver.Chrome(r"Chromedriver.exe")

In [7]:
driver.get("https://digit.in/")

In [77]:
Brand_names=[]
specification=[]

In [80]:
Brand_tags=driver.find_elements(By.XPATH,'//h3[@class="ga-fired"]')
for i in Brand_tags:
    Brand=i.text
    Brand_names.append(Brand)

In [85]:
print(len(Brand_names))

6

In [84]:
import pandas as pd
df=pd.DataFrame({'BRAND':Brand_names})
df

                           BRAND
0            01. ASUS TUF Gaming
1          02. ASUS Zephyrus G14
2  03. ASUS Vivobook Pro 14 OLED
3         04. ASUS ROG Strix G15
4          05. ASUS TUF DASH F15
5          06. ASUS ROG Flow X13

In [86]:
#Question:Write a python program to scrape the details for all billionaires from www.forbes.com.

In [87]:
driver=webdriver.Chrome(r"Chromedriver.exe")

In [94]:
driver.get("https://inventure.com.ua/en/tools/database/forbes-2023:-ranking-of-the-richest-people-in-the-world")

In [98]:
Rank=[]
Name=[]
NetWorth=[]
Age=[]
Source=[]
Country=[]

In [99]:
Rank_tags=driver.find_elements(By.XPATH,'//td[@width="74"]')
for i in Rank_tags:
    rank=i.text
    Rank.append(rank)
    
Name_tags=driver.find_elements(By.XPATH,'//td[@width="196"]')
for i in Name_tags:
    name=i.text
    Name.append(name)
    
Net_worth=driver.find_elements(By.XPATH,'//td[@width="102"]')
for i in Net_worth:
    Net=i.text
    NetWorth.append(Net)
    
Age_tags=driver.find_elements(By.XPATH,'//td[@width="64"]')
for i in Age_tags:
    age=i.text
    Age.append(age)
    
Source_tags=driver.find_elements(By.XPATH,'//td[@width="87"]')
for i in Source_tags:
    source=i.text
    Source.append(source)
    
Country_tags=driver.find_elements(By.XPATH,'//td[@width="138"]')
for i in Country_tags:
    country=i.text
    Country.append(country)

In [101]:
print(len(Rank),len(Name),len(NetWorth),len(Age),len(Source),len(Country))

401 401 401 401 401 401

In [104]:
import pandas as pd
df=pd.DataFrame({'RANK':Rank,'NAME':Name,'NETWORTH':NetWorth,'AGE':Age,'SOURCE':Source,'COUNTRY':Country})
df

,RANK,NAME,NETWORTH,AGE,SOURCE,COUNTRY
0,#,Name,"Net worth, $ bln",Age,Source,Country
1,1,Bernard Arnault & family,$176.6,73,LVMH,France
2,2,Elon Musk,$146.5,51,"Tesla, SpaceX",USA
3,3,Gautam Adani,$121.4,60,"infrastructure, commodities",India
4,4,Jeff Bezos,$108.5,58,Amazon,USA
...,...,...,...,...,...,...
396,396,Ken Fisher,$6.2,72,money management,USA
397,397,Maria Asuncion Aramburuzabala & family,$6.2,59,"beer, investments",Mexico
398,398,Michal Solowow,$6.2,60,investments,Poland
399,399,Jay Chaudhry,$6.2,63,security software,USA
400,400,Ted Lerner & family,$6.2,97,real estate,USA

In [105]:
# Question:Write a program to extract at least 500 Comments, Comment upvote and time when comment was postedfrom any YouTube Video.

In [106]:
driver=webdriver.Chrome(r"Chromedriver.exe")

In [107]:
driver.get("https://www.youtube.com/watch?v=ElZfdU54Cp8")

In [135]:
Comments=[]
Upvote=[]
Time=[]

In [136]:
Comment_tags=driver.find_elements(By.XPATH,'//span[@class="style-scope yt-formatted-string"]')
for i in Comment_tags[0:50]:
    comment=i.text
    Comments.append(comment)
    
    
Upvote_tags=driver.find_elements(By.XPATH,'//div[@class="yt-spec-touch-feedback-shape yt-spec-touch-feedback-shape--touch-response"]')
for i in Upvote_tags[0:50]:
    upvote=i.text
    Upvote.append(upvote)
    
time_tags=driver.find_elements(By.XPATH,'//a[@class="yt-simple-endpoint style-scope yt-formatted-string"]')
for i in time_tags[0:50]:
    time=i.text
    Time.append(time)

In [137]:
print(len(Comments),len(Upvote),len(Time))

50 50 50

In [138]:
import pandas as pd
df=pd.DataFrame({'COMMENTS':Comments,'UPVOTE':Upvote,'TIME':Time,})
df

,COMMENTS,UPVOTE,TIME
0,"17,041",,
1,Comments,,
2,Pinned by,,Zee Music Company
3,Zee Music Company,,
4,"Apna bana le mujhe, apna bana le piya!",,
5,,,
6,Experience the magic of falling in love.,,
7,", song out now!",,4 months ago
8,,,#ApnaBanaLe
9,Subscribe Now for more songs:,,http://bit.ly/TYZMC
10,You Can Ignore Bollywood But Can't Ignore Arij...,,3 months ago
11,️,,3 weeks ago
12,️,,3 weeks ago
13,️,,2 weeks ago
14,️,,3 weeks ago
15,️,,16 hours ago
16,Arijit Singh is oxygen for Bollywood music ind...,,1 month ago
17,️,,3 weeks ago
18,️,,6 days ago
19,️,,10 days ago
20,️,,3 weeks ago
21,️,,1 day ago
22,Just like our parents tell us about 90's songs...,,3 months ago
23,️,,16 hours ago (edited)
24,️,,2 days ago
25,️,,1 day ago (edited)
26,️,,3 days ago
27,Just 15 seconds of Arijit singing is enough to...,,2 weeks ago
28,️ his voice is heart touching,,3 months ago
29,We are so much lucky to hear the God's voice (...,,22 hours ago
30,,,3 days ago
31,️,,3 weeks ago
32,,,6 days ago
33,️,,3 months ago
34,,,2 weeks ago
35,,,3 weeks ago
36,Memories + vibe + slow,,1 day ago
37,rain + dark room + waiting to meet him + earp...,,3 days ago
38,Mark my words... 20 years from now we would st...,,8 days ago
39,️,,2 months ago
40,I’m from Pakistan 🇵🇰 but Arijit’s Vocals are n...,,3 days ago
41,Just 15 seconds of arijit singing is enough to...,,7 days ago (edited)
42,️,,0:18
43,,,5 days ago
44,His Vioce So Claming!,,1 day ago
45,🇮🇳,,2 months ago
46,Arijit singh isn't just a word it's emotion fo...,,2 weeks ago
47,Every Bollywood movie is incomplete without Ar...,,11 days ago
48,️,,10 days ago
49,Maybe after 50 years I'll be vibing with this ...,,3 weeks ago

In [139]:
# Question Write a python program to scrape a data for all available Hostels from https://www.hostelworld.com/ in“London” location

In [140]:
driver=webdriver.Chrome(r"Chromedriver.exe")

In [141]:
driver.get("https://www.hostelworld.com/")

In [142]:
Location=driver.find_element(By.CLASS_NAME,"search-input")
Location.send_keys('London')

In [170]:
Hostel_Name=[]
Distance=[]
Ratings=[]
Price=[]
Dorms_Price=[]

In [171]:
hostel_tags=driver.find_elements(By.XPATH,'//div[@class="property-name"]')
for i in hostel_tags[0:25]:
    hostel=i.text
    Hostel_Name.append(hostel)
    
Distance_tags=driver.find_elements(By.XPATH,'//span[@class="distance-description"]')
for i in Distance_tags[0:25]:
    dist=i.text
    Distance.append(dist)
    
Ratings_tags=driver.find_elements(By.XPATH,'//div[@class="keyword"]')
for i in Ratings_tags[0:25]:
    rating=i.text
    Ratings.append(rating)
    
price_tags=driver.find_elements(By.XPATH,'//strong[@class="current"]')
for i in price_tags[0:25]:
    price=i.text
    Price.append(price)
    
Dorm_tags=driver.find_elements(By.XPATH,'//strong[@class="current"]')
for i in Dorm_tags[0:25]:
    Dorm=i.text
    Dorms_Price.append(Dorm)

In [172]:
print(len(Hostel_Name),len(Distance),len(Ratings),len(Price),len(Dorms_Price))

25 25 25 25 25

In [173]:
import pandas as pd
df=pd.DataFrame({'HOSTEL NAME':Hostel_Name,'DISTANCE':Distance,'RATINGS':Ratings,'PRICE':Price,"DORM_PRICE":Dorms_Price})
df

,HOSTEL NAME,DISTANCE,RATINGS,PRICE,DORM_PRICE
0,St Christopher's Village,- 1.8km from city centre,Very Good,"₹2,926","₹2,926"
1,St Christopher's Village,- 5.5km from city centre,Very Good,"₹19,597","₹19,597"
2,Hostel One Notting Hill,- 3km from city centre,Superb,"₹6,556","₹6,556"
3,Generator London,- 1.7km from city centre,Very Good,"₹12,545","₹12,545"
4,Safestay London Elephant & Castle,- 2.6km from city centre,Very Good,"₹3,702","₹3,702"
5,Smart Russell Square Hostel,- 5.4km from city centre,Very Good,"₹3,555","₹3,555"
6,Urbany Hostel London,- 5.8km from city centre,Superb,"₹3,943","₹3,943"
7,Safestay London Kensington Holland Park,- 9km from city centre,Very Good,"₹17,968","₹17,968"
8,No.8 Seven Sisters,- 7.5km from city centre,Very Good,"₹5,973","₹5,973"
9,St Christopher's Hammersmith,- 1.8km from city centre,Very Good,"₹3,878","₹3,878"
10,St Christopher's Inn - London Bridge,- 3.2km from city centre,Very Good,"₹2,166","₹2,166"
11,St Christopher's Inn - Liverpool Street,- 4.8km from city centre,Fabulous,"₹2,991","₹2,991"
12,Smart Hyde Park View Hostel,- 0.5km from city centre,Fabulous,"₹3,871","₹3,871"
13,"PubLove @ The Steam Engine, Waterloo",- 7.6km from city centre,Very Good,"₹3,806","₹3,806"
14,St Christopher's Greenwich,- 6.3km from city centre,Superb,"₹28,724","₹28,724"
15,Park Villa,- 8.2km from city centre,Very Good,"₹4,733","₹4,733"
16,Kensal Green Backpackers,- 5.5km from city centre,Very Good,"₹2,648","₹2,648"
17,Saint James Backpackers,- 4.7km from city centre,Very Good,"₹5,063","₹5,063"
18,"PubLove @ The Crown, Battersea",- 2.4km from city centre,Good,"₹2,840","₹2,840"
19,"PubLove @ The White Ferry, Victoria",- 4.2km from city centre,Fabulous,"₹20,603","₹20,603"
20,Bell House Hostel,- 5.5km from city centre,Very Good,"₹6,006","₹6,006"
21,Selina Camden,- 3.2km from city centre,Very Good,"₹4,929","₹4,929"
22,Elmwood Hotel,- 1.6km from city centre,Good,"₹6,333","₹6,333"
23,PubLove @ The Rose & Crown,- 4.3km from city centre,Good,"₹3,362","₹3,362"
24,"PubLove @ The Green Man, Paddington",- 0.7km from city centre,Fabulous,"₹26,520","₹26,520"